body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: var(--white);

}

:root {
    /* colors */
    --spring-green: #90BE6D;
    --coconut-white: #EAEFBD;
    --artichoke: #C9E3AC;
    --chinese-yellow: #EA9010;
    --eerie-black: #37371F;
    --white: #FFFFFF;
    --almost-white: #EDF4ED;
    --almost-yellow: #fbe0b3;
}



.link {
    text-decoration: none;
}

.logo {
    font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--spring-green);
}

.logo-item {
    font-family: "Raleway", sans-serif;
        color: #2e2f42;
}

.address-list-item {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-decoration: none;
        
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

li {
   list-style-type: none; 
}


.decor::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

li a {
    list-style-type: none;
    text-decoration: none;
    color: #434455;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

a:active {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--spring-green);
}
address {
    font-style: normal;
}
.address-list .address-list-item {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.address-list .address-list-item:active {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--spring-green);
}

.address-list-item:hover {
    color: var(--chinese-yellow);
}
.address-list-item:focus {
    color: var(--chinese-yellow);
}
.address-list {
   
padding-top: 24px;
   margin-left: 620px;
}
.page-header {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: var(--eerie-black);
}

.page-header-mobile {
    display: none;
}
.droplet-icon-mobile {
    display: none;
}
.hero-section {
    background-color: var(--artichoke);
    margin: 0 auto;
}

.hero-button {
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    background-color: var(--spring-green);
    
        
        color: var(--white);
        font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
           
}
button:hover {
    background: var(--chinese-yellow);
        
        
        color: var(--white);
}
button:focus {
    background: var(--chinese-yellow);
    
    
    color: var(--white);
}
button {
    
    font-family: "Roboto", sans-serif;
cursor: pointer;
}

h3 {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
}

.text {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

h2 {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #434455;
}
.section-four {
    background-color: var(--almost-white);
}
.team-item {
    background-color: #FFFFFF;
}
.footer-logo-item {
    font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--eerie-black);
}

footer {
    background-color: var(--spring-green);
}

.footer-text {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--cloud);
}


/* geometry */
img {
    display: block;
}

    .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
max-width: 1440px;
margin: 0 auto;
padding: 0 15px;
}

ul {
    padding-left: 0;
    margin: 0;
}
/* Header */
header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header {
    border-bottom: 1px solid var(--almost-white);
}
.header-cont {
    display: flex;
}

.logo {
    margin-right: 76px;
}

.address-list {
    display: flex;
        gap: 40px;
}
/* footer */

.footer {
padding: 100px 0;
}

.footer-logo {
 color: var(--almost-white);
}

.footer-text {
    width: 264px;
}

.footer-cont {
    display: flex;
}

.footer-container {
    margin-right: 120px;
}

.footer-prg {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}


.social-media-cont {
    margin-right: 80px;
}

.subsc-form {
    display: flex;
    gap: 24px;
}

.subsc-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--white);
}
.subsc-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--eerie-black);
    cursor: pointer;
    background-color: var(--almost-white);
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subsc-icon {
    fill: var(--eerie-black);
    margin-left: 16px;
}

.subsc-btn:hover .subsc-icon {
    fill: #ffffff;
}

.subsc-btn:focus .subsc-icon {
        fill: #ffffff;
    }

/* index */
/* section one */
.hero-section {
    padding: 188px 0;
    max-width: 1440px;
}
.page-header {
    margin-bottom: 72px;
}
.hero-button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        display: block;
        min-width: 169px;
        height: 56px;
        cursor: pointer;
        padding: 16px 32px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.hero-section {
    background-image: url(/images/4.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* section-two */

.section-two {
    padding-top: 120px;
    padding-bottom: 42px;
    padding-left: 0;
    padding-right: 0;
}
.benefits-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 72px;
}
.benefits-list-item {
    max-width: 300px;
}
.benefits-item {
    flex-basis: calc((100% - 72px) / 3);
}

.header-three {
    margin-bottom: 8px;
}


.socials-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 300px;
    background-color: var(--almost-white);
    margin-bottom: 8px;
}

/* section three */

.section-three {
    padding: 60px 0;
}

.header-two {
    margin-bottom: 72px; 
}
.benefits-text {
    margin-bottom: 36px;
}
.cbd-image {
    margin: 0 auto;
    margin-bottom: 60px;
}
.cbd-text-list {
    margin-bottom: 48px;
}
.canabis-system-text {
    background-color: var(--almost-white);
    border-radius: 6px;
    padding: 20px;
    text-align: center;
    font-weight: 800;

}
/* section four */

.section-four {
    padding: 100px 0;
}

.cbd-list-wrap {
    width: 300px;
    height: 396px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 6px 7px 7px -4px rgba(0, 0, 0, 0.3);
}

.cbd-list-wrap {
    position: relative;
    overflow: hidden;

}
.cbd-list-wrap:hover .overlay {
    transform: translateY(0);
}
.overlay {
    
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: var(--spring-green);
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: inset 0px 0px 20px 3px rgba(0, 0, 0, 0.1);
    
}
tr, td {
    padding: 5px;
border-bottom: 2px solid var(--eerie-black);
color: var(--white);
}
.cbd-table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 46px;
}

.cbd-table-btn {
        margin: 0 auto;
        font-family: "Roboto", sans-serif;
        background-color: var(--white);
    
        color: var(--eerie-black);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        display: block;
        cursor: pointer;
        padding: 8px 16px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                
}

.cbd-concentration-subsc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.cbd-lines {
    background-color: #434455;
    width: 20px;
    height: 2px;
}

.concentration-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.concentration-list-item {
    flex-basis: calc((100% - 48px) / 3);
    
}
.disc-cont {
    display: flex;
    justify-content: center;
    gap: 12px;
}
.discount-text {
    margin: 0;
    /* text-align: center; */
    font-size: 18px;
    font-weight: 600;
    color: var(--spring-green);
    text-decoration: line-through;
}

.discount-text-with-disc {
    margin: 0;
    /* text-align: center; */
    font-size: 18px;
    font-weight: 600;
    color: var(--spring-green);
}
/* section five */

.section-five {
padding: 120px 0;
}


.cbd-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.cbd-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2e2f42;
    line-height: 1.11;
    font-size: 28px;
    
    background-color: var(--almost-white);
    height: 240px;
    max-width: 265px;
    padding: 100px;
    border-radius: 16px;
    text-align: center;
    margin-bottom: 40px;
}


.desktop-list  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.desktop-list-item {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: 0.04em;
}

.desktop-list  .droplet-icon {
    margin: 0 auto; 
}

.droplet-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    fill: var(--spring-green);
    animation-name: spin;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.customers-header {
    color: #2e2f42;
    line-height: 1.11;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 120px;
}


/* modal */



.backdrop {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    padding: 72px 24px 24px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;

        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-prg {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--grey);
    margin-bottom: 16px;

}
.modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    position: absolute;
right: 24px;
top: 24px;
    width: 24px;
    height: 24px;
    background-color: var(--almost-white);
    border: 1px solid var(--eerie-black);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    border: none;
    background-color: var(--chinese-yellow);
}

.modal-btn:hover .icon-button,
.modal-btn:focus .icon-button {
    fill: var(--white);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
fill: #ffffff
}

.modal-form-cont {
    margin-bottom: 8px;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
    margin-bottom: 4px;
}

.modal-input-cont {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-input:hover {
    border-color: var(--artichoke);
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-comment:focus {
border-color: var(--artichoke);
}

.modal-comment-cont {
    margin-bottom: 16px;
}

.modal-form-container {
    margin-bottom: 16px;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.textarea-comment {
    width: 100%;
        height: 120px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        padding: 8px 16px;
        outline: transparent;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-cont {
    margin-bottom: 24px;
}

.privacy-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.privacy-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

input:checked + label > span {
background-color: var(--eerie-black);
border: none;
fill: #F4F4FD;
}

.privacy-link {
color: var(--spring-green);
}

.send-btn {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
    background-color: var(--spring-green);
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.politics-main-header {
    margin: 0 auto;
    margin-top: 32px;
    text-align: center;
}

.last-prg {
    margin-bottom: 32px;
}

/* sticky disc */

.sticky-discount-cont {
    position: fixed;
  right: 40px;
  bottom: 40px;
  display: inline-block;
  width: 160px;
  height: 160px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
    background-color: var(--chinese-yellow);
    box-shadow: 5px 5px 14px -1px rgba(0,0,0,0.2);
}

.sticky-discount-text {
    margin: 0 auto;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    color: var(--white);
    margin-top: 38px;
}

